@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient-border {
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 4.72%,
    #3cfff3 23.13%,
    #a93cff 36.82%,
    #ff3cb1 50.98%,
    #ff3c3c 64.67%,
    #ff993c 78.83%,
    rgba(255, 255, 255, 0) 95.35%
  );
  border-image-slice: 1;
}

::-webkit-scrollbar {
  display: none;
}
